:root {
	--color-gray-lightest: #f5f5f5;
	--color-gray-lighter: #ddd;
	--color-gray-light: #a8a8a8;
	--color-gray: #666;
	--color-gray-dark: #4d4d4d;
	--color-gray-darker: #272727;
	--color-gray-darkest: #181818;
	--color-magenta: #ff04b4;
	--color-white: #fff;
	--font-smallest: 11px;
	--font-smaller: 12px;
	--font-small: 15px;
	--font-base: 18px;
	--font-stack: 'Montserrat',arial,helvetica,sans-serif;
}

body {
	color: var(--color-gray-darker);
	font: var(--font-base) var(--font-stack);
	line-height: 1.8em;
	-webkit-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

a {
	color: var(--color-gray-darker);
	font-weight: 700;
}

a:hover,
a:focus,
a.active {
	color: var(--color-magenta);
}

h1, h2, h3, h4 {
	font-weight: 700;
	line-height: 1.2em;
	margin: 0 0 0.8em;
}

h1 {
	font-size: calc(var(--font-base) * 2.6667);
	margin: 40px 0;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: calc(var(--font-base) * 1.3334);
}

h4 {
	font-size: var(--font-base);
	line-height: 1.4em;
	margin-bottom: 0.4em;
}

img {
	margin: auto;
}

p {
	margin-bottom: 10px;
}

p a {
	color: var(--color-magenta);
}

p a:hover,
p a:focus,
p a.active {
	color: var(--color-gray-darker);
}

ul {
	padding-left: var(--font-small);
}

li {
	padding: var(--font-smallest) 0;
}

dl {
	font-size: var(--font-small);
}

.dl-horizontal dt,
.dl-horizontal dd {
	margin-bottom: 5px;
}

.details {
	color: var(--color-gray-darkest);
	font-size: var(--font-smaller);
	font-weight: 700;
	line-height: 1.8em;
}

.relative {
	position: relative;
}

.small {
	color: var(--color-gray-darkest);
	display: inline-block;
	font-size: var(--font-small);
	font-weight: 400;
	line-height: 1.7em;
}

/* containers */

.container {
	padding: 0 50px;
}

.container_full {
	width: 100%;
}

.wrap_no_padding [class*="col-"] {
	padding: 0;
}

.inner_space {
	padding-bottom: 100px;
	padding-top: 100px;
}

/* quote */

blockquote {
	border: none;
	color: var(--color-gray-darkest);
	font-size: var(--font-small);
	font-weight: 700;
	line-height: 1.5em;
	padding: 5px 0 0;
}

blockquote footer,
blockquote p {
	color: inherit;
	font: inherit;
}

blockquote::before {
	color: var(--color-magenta);
	content: '"'
}

/* checkbox */

.custom-control {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.custom-control-input {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.custom-control-indicator {
	background-color: var(--color-gray-lightest);
	border-radius: var(--font-smaller);
	display: block;
	height: var(--font-smaller);
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: var(--font-smaller);
}

.custom-control-input:checked~.custom-control-indicator {
	background: url('data:image/svg+xml;utf8,<svg width="16px" height="13px" viewBox="0 0 16 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icon-check" fill="var(--color-magenta)"><path d="M15.6565657,3.28205041 C15.6565657,3.55141203 15.5622905,3.78036597 15.3737374,3.9689191 L8.06060606,11.2820504 L6.68686869,12.6557878 C6.49831556,12.8443409 6.26936162,12.9386161 6,12.9386161 C5.73063838,12.9386161 5.50168444,12.8443409 5.31313131,12.6557878 L3.93939394,11.2820504 L0.282828283,7.62548476 C0.0942751515,7.43693163 0,7.20797769 0,6.93861607 C0,6.66925446 0.0942751515,6.44030052 0.282828283,6.25174738 L1.65656566,4.87801001 C1.84511879,4.68945688 2.07407273,4.59518173 2.34343434,4.59518173 C2.61279596,4.59518173 2.8417499,4.68945688 3.03030303,4.87801001 L6,7.85780799 L12.6262626,1.22144435 C12.8148158,1.03289122 13.0437697,0.938616071 13.3131313,0.938616071 C13.5824929,0.938616071 13.8114469,1.03289122 14,1.22144435 L15.3737374,2.59518173 C15.5622905,2.78373486 15.6565657,3.0126888 15.6565657,3.28205041 L15.6565657,3.28205041 Z"></path></g></g></svg>') no-repeat;
	background-size: contain;
	height: 13px;
	margin: 0 -3px;
	width: 16px;
}

.custom-control-description {
	color: var(--color-gray-darkest);
	font-size: var(--font-small);
	padding-left: var(--font-smallest);
}

/* buttons */

.btn {
	background-color: var(--color-gray-darkest);
	border-radius: 50px;
	color: var(--color-white);
	font-size: var(--font-smaller);
	font-weight: 700;
	letter-spacing: 1px;
	min-width: 190px;
	padding: var(--font-small);
	text-align: center;
}

.btn:hover {
	background-color: var(--color-magenta);
}

.btn.btn_inverse {
	background-color: var(--color-white);
	border: 2px solid var(--color-gray-darkest);
	color: var(--color-gray-darkest);
}

.btn.btn_inverse:hover {
	background-color: var(--color-gray-lightest);
	border: 2px solid var(--color-gray-lightest);
}

.category_btn {
	background-color: var(--color-magenta);
	border-radius: 2em;
	color: var(--color-white);
	display: inline-block;
	font-size: var(--font-smallest);
	letter-spacing: 1px;
	line-height: 2.2em;
	padding: 0 1.5em;
	text-transform: uppercase;
}

.category_btn:hover {
	background-color: var(--color-gray-darker);
	color: var(--color-white);
}

/* input */

.form-control {
	background-color: var(--color-gray-lightest);
	border: none;
	box-shadow: none;
	color: var(--color-gray-darkest);
	font-size: var(--font-small);
	height: 30px;
	padding: 5px 20px;
}

.form-control:focus {
	background-color: transparent;
	border-bottom: 1px solid var(--color-gray-darkest);
	box-shadow: none;
	font-weight: 700;
}

.form-control::-webkit-input-placeholder {
	color: var(--color-gray-darkest);
}

.form-control::-moz-placeholder {
	color: var(--color-gray-darkest);
}

.form-control:-ms-input-placeholder {
	color: var(--color-gray-darkest);
}

.form-control::placeholder {
	color: var(--color-gray-darkest);
}

/* select */

.custom_dropdown {
	background-color: var(--color-gray-lightest);
	color: var(--color-gray-darkest);
}

.custom_dropdown svg {
	fill: var(--color-gray-darkest);
	height: 6px;
	width: var(--font-smallest);
}

.custom_dropdown .dropdown-toggle {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: var(--color-gray-darkest);
	font-size: var(--font-small);
	padding: var(--font-small) 20px;
}

.custom_dropdown .dropdown-menu {
	border: none;
	box-shadow: none;
	font-size: var(--font-small);
	margin: 0;
	margin-top: -1px;
	padding: 0;
	width: 100%;
}

.custom_dropdown .dropdown-menu li {
	background-color: var(--color-gray-lightest);
	cursor: pointer;
	padding: var(--font-small) 20px;
	margin: 1px 0;
}

.custom_dropdown .dropdown-menu li:hover,
.custom_dropdown .dropdown-menu li.active {
	color: var(--color-magenta);
	font-weight: 700;
}

/* nav lists */

.list,
.pagination {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}

.list>li,
.pagination>li {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.list>li::after,
.pagination>li::after {
	content: '';
	margin: 0 20px;
}

.list>li:last-child::after,
.pagination>li:last-child::after {
	display: none;
}

.list_pagination {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-top: 1px solid var(--color-gray-lighter);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 70px 0;
}

.pagination {
	margin: 0;
	padding: 0;
}

.pagination li {
	margin: var(--font-base) 0 0;
}

.pagination li a {
	background: none !important;
	border: none;
	color: var(--color-gray-light);
	display: block;
	font-size: var(--font-small);
	font-weight: 700;
	line-height: 1em;
	padding: 10px;
	position: relative;
}

.pagination li a:hover,
.pagination li a.active {
	color: var(--color-gray-darker);
}

.pagination li a:hover::before,
.pagination li a.active::before {
	background-color: var(--color-gray-darker);
	content: '';
	height: 5px;
	left: 0;
	position: absolute;
	right: 0;
	top: -20px;
}

/* inverse */

.inverse_page {
	background-color: var(--color-gray-darkest);
}

.inverse_page,
.inverse_page h1,
.inverse_page a,
.inverse_page h2,
.inverse_page h3,
.inverse_page h4,
.inverse_page h5,
.inverse_page h6,
.inverse_page .h1,
.inverse_page .h2,
.inverse_page .h3,
.inverse_page .h4,
.inverse_page .h5,
.inverse_page .h6 {
	color: var(--color-white);
}

.inverse_page .custom-control-description,
.inverse_page .list,
.inverse_page .quote,
.inverse_page .small {
	color: var(--color-white);
}

.inverse_page a:hover,
.inverse_page a:focus,
.inverse_page a.active {
	color: var(--color-magenta);
}

.inverse_page .custom-control-indicator {
	background-color: var(--color-gray-dark);
}

.inverse_page .btn {
	background-color: var(--color-white);
	border: 2px solid var(--color-white);
	color: var(--color-gray-darkest);
}

.inverse_page .btn:hover {
	background-color: var(--color-magenta);
	border: 2px solid var(--color-magenta);
	color: var(--color-white);
}

.inverse_page .btn.btn_inverse {
	background-color: var(--color-gray-darkest);
	border: 2px solid var(--color-gray-lighter);
	color: var(--color-white);
}

.inverse_page .btn.btn_inverse:hover {
	background-color: var(--color-gray-lightest);
	border: 2px solid var(--color-gray-lightest);
	color: var(--color-gray-darkest);
}

.inverse_page .form-control {
	background-color: var(--color-gray-darker);
	color: var(--color-white);
}

.inverse_page .custom_dropdown svg {
	fill: var(--color-white);
}

.inverse_page .form-control:focus {
	background-color: transparent;
	border-bottom: 1px solid var(--color-white);
}

.inverse_page .form-control::-webkit-input-placeholder {
	color: var(--color-white);
}

.inverse_page .form-control::-moz-placeholder {
	color: var(--color-white);
}

.inverse_page .form-control:-ms-input-placeholder {
	color: var(--color-white);
}

.inverse_page .form-control:-moz-placeholder {
	color: var(--color-white);
}

.inverse_page .custom_dropdown {
	background-color: var(--color-gray-darker);
	color: var(--color-white);
}

.inverse_page .custom_dropdown .dropdown-toggle {
	color: var(--color-white);
}

.inverse_page .custom_dropdown .dropdown-menu {
	background-color: var(--color-gray-darkest);
}

.inverse_page .custom_dropdown .dropdown-menu li {
	background-color: var(--color-gray-darker);
}

.inverse_page .custom_dropdown .dropdown-menu li:hover,
.inverse_page .custom_dropdown .dropdown-menu li.active {
	color: var(--color-white);
}

/* header */

.main_header .inner_wrap {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 50px 0 80px;
}

.logo {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.logo svg {
	height: 25px;
	margin-right: var(--font-small);
	width: var(--font-small);
}

.main_nav_list>li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main_header .main_nav_list>li:after {
	margin-left: 50px;
}

/* footer */

.main_footer {
	background-color: var(--color-gray-lightest);
}

.main_footer .inner_wrap {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 70px 0;
}

.main_footer .footer_nav_list>li {
	margin: 0;
}

.main_footer .footer_nav_list>li a {
	font-size: var(--font-small);
}

.main_footer .footer_nav_list>li::after {
	margin-right: 50px;
}

.main_footer .footer_nav_list>li:last-child::after {
	display: none;
}

.main_footer .box_newsletter {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 350px;
	position: relative;
}

.main_footer .box_newsletter .form-control {
	background-color: var(--color-white);
	padding-right: 30px;
}

.main_footer .box_newsletter .bt {
	background: url('data:image/svg+xml;utf8,<svg width="22px" height="15px" viewBox="0 0 22 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="icon-arrow-right" fill="var(--color-gray-darker)"><polygon points="0 8.73046875 0 6.26953125 17.6953125 6.26953125 13.2421875 1.7578125 15 0 22.5 7.5 15 15 13.2421875 13.2421875 17.6953125 8.73046875"></polygon></g></g></svg>') no-repeat;
	border: none;
	content: '';
	height: var(--font-small);
	position: absolute;
	right: 20px;
	top: var(--font-base);
	width: 22px;
}

.inverse_page .main_footer .box_newsletter .form-control {
	color: var(--color-gray-darkest);
}

.inverse_page .main_footer .box_newsletter .form-control::-webkit-input-placeholder {
	color: var(--color-gray-darkest);
}

.inverse_page .main_footer .box_newsletter .form-control::-moz-placeholder {
	color: var(--color-gray-darkest);
}

.inverse_page .main_footer .box_newsletter .form-control:-ms-input-placeholder {
	color: var(--color-gray-darkest);
}

.inverse_page .main_footer .box_newsletter .form-control:-moz-placeholder {
	color: var(--color-gray-darkest);
}

/* projects */

.project_item {
	background: var(--color-gray-lightest) no-repeat;
	background-size: cover;
	color: var(--color-white);
	height: 750px;
	margin: 50px 20px 0 0;
	overflow: hidden;
}

.project_item:nth-child(even) {
	margin: 50px 0 20px 5px 50px;
}

.project_txt {
	display: block;
	padding: 40px;
}

.project_item h3 {
	color: var(--color-white);
}

.project_item h3 span {
	display: block;
}

.project_item p {
	color: var(--color-white);
	font-weight: 400;
}

.project h1 span:after,
.project_item h3 span:after {
	content: ":";
}

/* blog */

.blog_item {
	border: 1px solid var(--color-gray-lighter);
	display: block;
	margin: 50px 0 0 0;
}

.blog_txt {
	margin: 30px;
}

.blog_txt h4 {
	margin: var(--font-smaller) 0 var(--font-base);
}

.blog_txt p {
	margin-bottom: 0;
}

.blog_img {
	height: 30%;
	margin: 0;
	overflow: hidden;
}

.blog_img img {
	width: 100%;
}

/* blocks */

[class$="_block"] {
	margin-bottom: 60px;
}

.code_block {
	background-color: var(--color-gray-lightest);
	font-family: menlo,monoco,monospace;
	display: block;
	line-height: 1.8em;
	padding: 40px;
}

.detail_block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.detail_block h2 {
	font-size: calc(var(--font-base) * 1.3334);
	padding-right: 20px;
}

.image_block {
	max-height: 500px;
	overflow: hidden;
}

.image_block img {
	width: 100%;
}

.share_block {
	margin: 0 0 70px;
	max-width: 160px;
	padding-top: calc(var(--font-base) * 1.3334);
	position: relative;
}

.social_list {
	background-color: var(--color-gray-darkest);
	border-radius: 10px;
	padding: 20px 0;
	position: relative;
}

.social_list li {
	padding: 10px 50px;
}

.social_list a {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--color-white);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	font-size: var(--font-smallest);
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.social_list a svg {
	fill: var(--color-white);
}

.social_list svg {
	margin-right: var(--font-smaller);
	height: var(--font-small);
	width: var(--font-small);
}

.social_list a:hover {
	color: var(--color-white);
}

.social_list a:hover svg {
	fill: var(--color-magenta);
}

.close_share {
	background-color: var(--color-gray-darkest);
	border-radius: 50%;
	display: block;
	height: calc(var(--font-base) * 1.3334);
	left: -2px;
	line-height: 1em;
	padding: 6px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 27px;
	z-index: -1;
	opacity: 0;
}

.close_share::before {
	background-color: var(--color-gray-darkest);
	bottom: -5px;
	content: '';
	display: block;
	height: var(--font-base);
	left: 0;
	position: absolute;
	text-align: center;
	width: 50px;
}

.close_share::after {
	background-color: var(--color-white);
	border-radius: 50%;
	bottom: 2px;
	content: '';
	height: 20px;
	position: absolute;
	right: -20px;
	text-align: center;
	width: 20px;
}

.close_share svg {
	fill: var(--color-white);
	position: relative;
	width: 10px;
}

.close_share:hover svg {
	fill: var(--color-magenta);
}

.share_btn {
	font-size: var(--font-smallest);
	min-width: 100px;
	padding: 3.5px;
	height: calc(var(--font-base) * 1.3334);
	position: absolute;
	top: 0;
	left: 0;
}

.active .share_btn {
	min-width: 27px;
	width: 27px;
}

.active .share_btn .close_share {
	z-index: 0;
	opacity: 1;
}

.active .share_btn .text_btn {
	opacity: 0;
	width: 0;
}

.active .share_btn:hover {
	background-color: var(--color-gray-darkest);
}

/* footer */

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

.main_header,
.main_footer {
	-webkit-box-flex: 0;
	-ms-flex: none;
	flex: none;
	width: 100%;
}

.inner_wrapper {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
}

/* queries */

@media (min-width: 992px) {

	.container {
		padding: 0 70px;
	}
}

@media (min-width: 768px) {

	.blog_list .container,
	.project_list .container {
		width: auto;
	}

	.d_flex_centered_desktop_tablet {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.d_flex_centered_desktop_tablet>* {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
	}

	.page h1 {
    margin-top: 0;
	}

	.project_list [class^="col-"] {
		padding: 0;
	}

	.project_list [class^="col-"]:nth-child(even) .project_item {
		margin: 50px 0 0 30px;
  }
}

@media (max-width: 767px) {

	[class^="col-"] {
    float: none;
    padding: 0;
    width: 100%;
  }

	.main_header .main_nav_list>li {
		font-size: var(--font-small);
	}

	.main_header .main_nav_list>li:after {
		margin-left: 20px;
	}

	.main_header .inner_wrap {
		padding-bottom: 0;
	}

	.main_footer .footer_nav_list {
		display: none;
	}

	.main_footer .box_newsletter {
		margin: auto;
	}

	.blog_list .container:first-child {
		display: none;
	}

	.category_btn {
		display: none;
	}

	.detail_block {
	  display: none;
	}

	h1 {
    font-size: calc(var(--font-base) * 2);
	}

	.inner_space {
		padding-bottom: 70px;
		padding-top: 30px;
	}

	.outer_space {
		margin-bottom: 0;
	}

	.project_item {
		margin-right: 0;
	}

	.project_item h3 {
		font-size: calc(var(--font-base) * 1.3334);
	}

	.project_list .container:first-child {
		display: none;
	}

	.project_list .project_txt {
		padding: 50px;
	}

	.row {
		margin: 0;
	}

	.share_block {
	  display: none;
	}

	.visible-xs-block {
	  display: none!important;
	}
}

@media (max-width: 600px) {

	.blog_post .share_block,
	.blog_post .detail_block {
		display: none;
	}

	.inner_space {
		padding-bottom: 30px;
		padding-top: 30px;
	}

	.logo span {
		display: none;
	}
}
